@font-face {
  font-family: "Verlag Black";
  src: url("./fonts/Verlag Black.otf?") format("opentype");
}

@font-face {
  font-family: "Verlag Black";
  src: url("./fonts/Verlag Black Italic.otf?") format("opentype");
  font-style: italic;
}

@font-face {
  font-family: "Verlag Bold";
  src: url("./fonts/Verlag Bold.otf?") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Verlag Bold";
  src: url("./fonts/Verlag Bold Italic.otf?") format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Verlag Book";
  src: url("./fonts/Verlag Book.otf?") format("opentype");
}

@font-face {
  font-family: "Verlag Book";
  src: url("./fonts/Verlag Book Italic.otf?") format("opentype");
  font-style: italic;
}

@font-face {
  font-family: "Verlag Compressed Black";
  src: url("./fonts/Verlag Compressed Black.otf?") format("opentype");
}

@font-face {
  font-family: "Verlag Compressed Black";
  src: url("./fonts/Verlag Compressed Black Italic.otf?") format("opentype");
  font-style: italic;
}

@font-face {
  font-family: "Verlag Compressed Bold";
  src: url("./fonts/Verlag Compressed Bold.otf?") format("opentype");
}

@font-face {
  font-family: "Verlag Compressed Bold";
  src: url("./fonts/Verlag Compressed Bold Italic.otf?") format("opentype");
  font-style: italic;
}

@font-face {
  font-family: "Verlag Compressed Light";
  src: url("./fonts/Verlag Compressed Light.otf?") format("opentype");
}

@font-face {
  font-family: "Verlag Compressed Light";
  src: url("./fonts/Verlag Compressed Light Italic.otf?") format("opentype");
  font-style: italic;
}

@font-face {
  font-family: "Verlag Compressed XLight";
  src: url("./fonts/Verlag Compressed XLight.otf?") format("opentype");
}

@font-face {
  font-family: "Verlag Compressed XLight";
  src: url("./fonts/Verlag Compressed XLight Italic.otf?") format("opentype");
  font-style: italic;
}

@font-face {
  font-family: "Verlag Condensed Black";
  src: url("./fonts/Verlag Condensed Black.otf?") format("opentype");
}

@font-face {
  font-family: "Verlag Condensed Black";
  src: url("./fonts/Verlag Condensed Black Italic.otf?") format("opentype");
  font-style: italic;
}

@font-face {
  font-family: "Verlag Condensed Bold";
  src: url("./fonts/Verlag Condensed Bold.otf?") format("opentype");
}

@font-face {
  font-family: "Verlag Condensed Bold";
  src: url("./fonts/Verlag Condensed Bold Italic.otf?") format("opentype");
  font-style: italic;
}

@font-face {
  font-family: "Verlag Condensed Light";
  src: url("./fonts/Verlag Condensed Light.otf?") format("opentype");
}

@font-face {
  font-family: "Verlag Condensed Light";
  src: url("./fonts/Verlag Condensed Light Italic.otf?") format("opentype");
  font-style: italic;
}

@font-face {
  font-family: "Verlag Condensed XLight";
  src: url("./fonts/Verlag Condensed XLight.otf?") format("opentype");
}

@font-face {
  font-family: "Verlag Condensed XLight";
  src: url("./fonts/Verlag Condensed XLight Italic.otf?") format("opentype");
  font-style: italic;
}


@font-face {
  font-family: "Verlag Light";
  src: url("./fonts/Verlag Light.otf?") format("opentype");
}

@font-face {
  font-family: "Verlag Light";
  src: url("./fonts/Verlag Light Italic.otf?") format("opentype");
  font-style: italic;
}

@font-face {
  font-family: "Verlag XLight";
  src: url("./fonts/Verlag XLight.otf?") format("opentype");
}

@font-face {
  font-family: "Verlag XLight";
  src: url("./fonts/Verlag XLight Italic.otf?") format("opentype");
  font-style: italic;
}
