.section-1 {
  position: relative;
  height: 100vh;
  overflow: hidden;

  text-align: center;
}

$animateTime: 60s;

.sun, .cloud-1, .cloud-2, .cloud-3, .cloud-4, .cloud-5 {
  position: absolute;
  overflow: hidden;
}

.cloud-1, .cloud-2, .cloud-3, .cloud-4, .cloud-5 {
  -webkit-animation: moveClouds $animateTime linear infinite;
}

.sun {

  left: 250px;
  top: 100px;

  @include breakpoint(mobileonly) {
    left: 20%;
    top: 10%;
    width: 75px;
  }

  -webkit-animation:spin 20s linear infinite;
  -moz-animation:spin 20s linear infinite;
  animation:spin 20s linear infinite;
  z-index: 1;
}

.cloud-1 {
  top: 150px;
  left: 10%;
  animation-delay: -(($animateTime * 10 / 100) + 5);
}

.cloud-2 {
  top: 120px;
  left: 40%;
  animation-delay: -(($animateTime * 40 / 100) + 5);

  @include breakpoint(mobileonly) {
    width: 75px;
  }
}

.cloud-3 {
  top: 110px;
  left: 65%;
  animation-delay: -(($animateTime * 65 / 100) + 5);

  @include breakpoint(mobileonly) {
    width: 105px;
  }
}

.cloud-4 {
  bottom: 200px;
  left: calc(80% - 230px);
  animation-delay: -(($animateTime * 80 / 100));

  @include breakpoint(mobileonly) {
    width: 105px;
  }
}

.cloud-5 {
  bottom: 200px;
  left: calc(30% - 150px);
  animation-delay: -(($animateTime * 30 / 100));

  @include breakpoint(mobileonly) {
    width: 105px;
  }
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@-webkit-keyframes moveClouds {
  0% {left: -300px;}
  100% {left: 100%}
}


.main-title {
  text-transform: uppercase;
  font-size: 80px;
  text-align: center;
  margin-top: 20%;
  z-index: 2;
  font-family: "Verlag Bold", Arial, sans-serif;

  @include breakpoint(mobileonly) {
    font-size: 50px;
    margin-top: 55%;
  }

  &.animate {
    animation: example 1s normal forwards ease-in-out, opacity 3s normal forwards ease;
  }

  @include breakpoint(mobileonly) {
    &.animate {
      animation: topTopMobile 1s normal forwards ease-in-out, opacity 3s normal forwards ease;
    }
  }

}

@keyframes topTopMobile {
  from {margin-top: 55%;}
  to {margin-top: 60%;}
}

@keyframes example {
  from {margin-top: 25%;}
  to {margin-top: 20%;}
}

@keyframes opacity {
  from {opacity: 0}
  to {opacity: 1}
}

.main-description {
  text-align: center;
  line-height: 1;
  z-index: 2;
  opacity: 0;
  font-family: "Verlag Light", Arial, sans-serif;

  @include breakpoint(mobileonly) {
    padding: 0 30px;
  }

  &.animate {
    animation: example2 1s normal forwards ease-in-out, opacity2 3s normal forwards ease;
    animation-delay: 1s;
  }
}

@keyframes example2 {
  from {margin-right: 50px;}
  to {margin-right: 0;}
}

@keyframes opacity2 {
  from {opacity: 0}
  to {opacity: 1}
}