.viewing-page-4 {
  .onepage-pagination li a:before {
    background: rgba(255,255,255,0.85);
  }
  .onepage-pagination li a.active:before {
    border: 1px solid white;
  }
}

.section-4 {
  height: 100vh;
  background-color: #231F20;

  .section-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 43px;
    padding-top: 100px;
    color: white;
    font-family: "Verlag Book", Arial, sans-serif;
  }

  .section-description {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    color: white;
    line-height: 1px;
    font-family: "Verlag Book", Arial, sans-serif;
  }

  .portfolio-categories {
    list-style: none;
    text-align: center;

    li {
      display: inline-block;
      padding: 10px;

      a {
        color: #BCBEC0;
        font-size: 15px;
        text-decoration: none;
        transition: color 1s;
        font-family: "Verlag Book", Arial, sans-serif;

        &:hover {
          color: white;
        }
      }

      &.active {
        a {
          color: white;
          font-weight: bold;
        }
      }
    }
  }

  .portfolio-list {
    list-style: none;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 20px;

    &:before, &:after {
      content: "";
      display: table;
      clear: both;
    }

    li {
      float: left;
      margin: 0;
      padding: 0;
      width: 25%;
      height: 180px;
      transform: scale(0);
      &.animate {
        animation: scale 1s normal forwards ease-in-out, opacity 3s normal forwards ease;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

}

.rounded-btn {
  padding: 5px 10px;
  border-radius: 20px;
  border: 1px solid #EE4036;
  color: #EE4036;
  text-decoration: none;

  transition: color 1s, border-color 1s;
  &:hover {
    text-decoration: none;
    color: #DDD;
    border-color: #DDD;
  }
}