.section-3 {
  height: 100vh;

  .image-container {
    min-height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: auto !important;
    }
  }

  .section-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 43px;
    padding-top: 120px;
    font-family: "Verlag Light", Arial, sans-serif;

    @include breakpoint(mobileonly) {
      font-size: 23px;
      padding-top: 80px;
    }


    &.animate {
      animation: toRight 1s normal forwards ease-in-out, opacity 3s normal forwards ease;
    }

    span.bold {
      font-size: 45px;
      font-weight: bold;
      font-family: "Verlag Black", Arial, sans-serif;
      @include breakpoint(mobileonly) {
        font-size: 23px;
      }
    }
    span.separate {
      color: #EE4036;
      margin: 5px;
    }
  }

  .section-description {
    color: #939598;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-family: "Verlag Light", Arial, sans-serif;

    @include breakpoint(mobileonly) {
      padding: 0 40px;
    }

    &.animate {
      animation: toRight 1s normal forwards ease-in-out, opacity 3s normal forwards ease;
    }

  }

  .cards {
    margin-top: 20px;

    text-align: center;
    .card {
      margin-left: 25px;
      &:first-of-type {
        margin-left: 0;
      }
      float: left;
      width: calc(100% - 25px);
      height: 240px;
      min-height: 230px;
      padding: 5px;

      .card-title {
        font-size: 26px;
        font-weight: normal;
        text-transform: uppercase;
        font-family: "Verlag Light", Arial, sans-serif;
        min-height: 70px;
        span {
          font-weight: bold;
          display: block;
          font-family: "Verlag Bold", Arial, sans-serif;
        }
      }

      p {
        padding: 0 10px;
        font-size: 12px;
        text-align: justify;
        font-family: "Verlag XLight", Arial, sans-serif;

        @include breakpoint(mobileonly) {
          font-size: 16px;
        }
      }

      .read-more {
        border-radius: 20px;
        border: 1px solid #000;
        color: #000;
        text-decoration: none;
        padding: 5px 10px;
        font-family: "Verlag Light", Arial, sans-serif;
      }

      transform: scale(0);

      &.animate {
        animation: scale 1s normal forwards ease-in-out;
      }

    }
  }

  .sub-description {
    text-align: center;
    color: white;
    margin-top: 15px;
  }

}