.section-7 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .section-title, .section-subtitle {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    margin-top: -100px;
    opacity: 0;
    font-family: "Verlag Light", Arial, sans-serif;

    &.animate {
      animation: toRight 1.5s normal forwards ease-in-out, opacity 4s normal forwards ease;
    }

    &.section-subtitle {
      padding-top: 0;
      margin-top: 0;
    }
  }

  .line {
    width: 0px;
    margin-top: 5px;
    border-bottom: 5px solid #EE4036;

    &.animate {
      animation: widthLine 1s normal forwards ease-in-out;
    }
  }

  .contact-social {
    opacity: 0;
    position: relative;
    font-family: "Verlag Light", Arial, sans-serif;

    &.animate {
      animation: fromTop 1s normal forwards ease-in-out, opacity 3s normal forwards ease;
    }
  }

  .social-media {
    margin-top: 20px;
    li {
      list-style: none;
      justify-content: center;
      align-items: center;
      display: inline-flex;
      transform: scale(0);

      &.animate {
        animation: scale 1s normal forwards ease-in-out, opacity 2s normal forwards ease;
      }

      a {
        justify-content: center;
        align-items: center;
        display: inline-flex;
        width: 50px;
        height: 50px;
        background-color: #413F42;
        border-radius: 50%;
        text-decoration: none;
        .fa {
          color: white;
          font-size: 2em;
        }
      }
    }

  }

}