.section-6 {
  height: 100vh;

  .section-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 43px;
    padding-top: 100px;
    opacity: 0;
    font-family: "Verlag Light", Arial, sans-serif;

    &.animate {
      animation: toRight 1s normal forwards ease-in-out, opacity 3s normal forwards ease;
    }
  }

  .section-description {
    text-align: center;
    font-size: 15px;
    color: #EE4036;
    opacity: 0;
    font-family: "Verlag Light", Arial, sans-serif;

    &.animate {
      animation: toRight 1s normal forwards ease-in-out, opacity 3s normal forwards ease;
    }
  }

  .address {
    opacity: 0;
    font-family: "Verlag Light", Arial, sans-serif;
    &.animate {
      animation: toRight 1s normal forwards ease-in-out, opacity 3s normal forwards ease;
    }
  }

  .part-title {
    text-transform: uppercase;
    font-size: 25px;
    padding-top: 50px;
    opacity: 0;
    font-family: "Verlag Light", Arial, sans-serif;

    &.animate {
      animation: toRight 1s normal forwards ease-in-out, opacity 3s normal forwards ease;
    }

  }

  .contact-form {
    .form-group {
      opacity: 0;
      &.animate {
        animation: toRight 1s normal forwards ease-in-out, opacity 3s normal forwards ease;
      }
    }
    .form-control {
      border-radius: 20px;
    }

    .form-control::-moz-placeholder {
      color: #D1D3D4;
      opacity: 1;
      font-family: "Verlag Light", Arial, sans-serif;
    }
    .form-control:-ms-input-placeholder {
      color: #D1D3D4;
      font-family: "Verlag Light", Arial, sans-serif;
    }
    .form-control::-webkit-input-placeholder {
      color: #D1D3D4;
      font-family: "Verlag Light", Arial, sans-serif;
    }

    .btn {
      border: 1px solid #D1D3D4;
      color: #D1D3D4;
      border-radius: 20px;
      font-family: "Verlag Light", Arial, sans-serif;
    }

  }

}