.section-5 {
  height: 100vh;

  .section-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 43px;
    padding-top: 100px;
    font-family: "Verlag Light", Arial, sans-serif;
  }

  .section-description {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1px;
    font-family: "Verlag Light", Arial, sans-serif;
  }

  .clients-container {
    background-color: #F8F8F9;
    margin-top: 30px;
    padding: 30px 10px;
    text-align: center;
  }

  .clients-list {
    list-style: none;

    li {
      display: inline-block;
      margin: 0 30px;
      opacity: 0;

      &.animate {
        animation: opacity 3s normal forwards ease;
      }
    }
  }

  .section-title2, .section-subtitle {
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
    padding-top: 30px;
    font-weight: bold;
    font-family: "Verlag Bold", Arial, sans-serif;
    &.section-subtitle {
      font-weight: normal;
      padding-top: 0;
      font-family: "Verlag Book", Arial, sans-serif;
    }
    opacity: 0;

    &.animate {
      animation: toTop 1s normal forwards ease-in-out, opacity 3s normal forwards ease;
    }
  }

  .section-content {
    text-align: center;
    font-size: 14px;
    opacity: 0;
    font-family: "Verlag Light", Arial, sans-serif;

    &.animate {
      animation: toTop 1s normal forwards ease-in-out, opacity 3s normal forwards ease;
    }

    .ceo {
      margin-top: 10px;
      font-size: 14px;
    }
  }

}