<section class="section-4">

    <div class="section-title">
        <span class="bold">Portfolio</span>
    </div>
    <p class="section-description">
        we have a million <span class="bold">way to tell your story</span>
    </p>

    <ul class="portfolio-categories">
        <li><a href="#">All</a></li>
        <li><a href="#">Branding</a></li>
        <li><a href="#">Motion Graphic</a></li>
        <li class="active"><a href="#">Digital Marketing</a></li>
        <li><a href="#">Media Production</a></li>
    </ul>
    
    <ul class="portfolio-list">
        <li>
            <a href="#"><img src="https://i1.sndcdn.com/artworks-000201384997-wfyabd-t200x200.jpg" alt=""></a>
        </li>
        <li>
            <a href="#"><img src="https://i1.sndcdn.com/artworks-000047965743-619tgf-t200x200.jpg" alt=""></a>
        </li>
        <li>
            <a href="#"><img src="https://i1.sndcdn.com/artworks-000053603743-62kxc2-t200x200.jpg" alt=""></a>
        </li>
        <li>
            <a href="#"><img src="https://i1.sndcdn.com/artworks-000248548943-815iut-t200x200.jpg" alt=""></a>
        </li>
        <li>
            <a href="#"><img src="https://i1.sndcdn.com/artworks-000157471093-20luv8-t200x200.jpg" alt=""></a>
        </li>
        <li>
            <a href="#"><img src="https://i1.sndcdn.com/artworks-000248548943-815iut-t200x200.jpg" alt=""></a>
        </li>
        <li>
            <a href="#"><img src="https://i1.sndcdn.com/artworks-000201384997-wfyabd-t200x200.jpg" alt=""></a>
        </li>
        <li>
            <a href="#"><img src="https://i1.sndcdn.com/artworks-000248548943-815iut-t200x200.jpg" alt=""></a>
        </li>
    </ul>

    <div class="text-center">
        <a href="" class="rounded-btn red">Download Portfolio</a>
    </div>

</section>