<section class="section-1">
    <img class="sun" src="../img/sun-red.png" alt="">
    <img class="cloud-1" src="../img/cloud1.png" alt="">
    <img class="cloud-2" src="../img/cloud2.png" alt="">
    <img class="cloud-3" src="../img/cloud3.png" alt="">
    <img class="cloud-4" src="../img/cloud4.png" alt="">
    <img class="cloud-5" src="../img/cloud5.png" alt="">

    <h2 data-animate class="main-title animate">Be part of the show</h2>
    <div data-animate class="main-description animate">
        <p>All work is a project work, but not - all projects are a wow project. If we shock you,</p>
        <p>it means we have entered your subconscious and have been introduced to the creative inner side of you.</p>
        <p>Let's make your project a respecting success story.</p>
    </div>

</section>