<section class="section-5">

    <div class="section-title">
        Our <span class="bold">clients</span>
    </div>
    <p class="section-description">
        To be more than a brand you have to leave your seat and be part of the show
    </p>

    <div class="clients-container">
        <ul class="clients-list">
            <li>
                <a href="">
                    <img src="../img/client1.png" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="../img/client2.png" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="../img/client3.png" alt="">
                </a>
            </li>
        </ul>
    </div>

    <div class="section-title2">
        <span class="bold">Testimonails</span>
    </div>

    <div class="section-subtitle">what our clients says</div>
    <div class="section-content">
        it means we have entered your subconscious and have been introduced to the creative inner side of you.<br>
        it means we have entered your subconscious and have been introduced to the creative inner side of you.<br>
        it means we have entered your subconscious.
        <div class="ceo">CEO of MEK</div>
    </div>

</section>